# Node modules (dépendances installées par npm)
node_modules/

# Fichiers de logs
npm-debug.log
yarn-debug.log
yarn-error.log

# Fichiers générés (par exemple, la compilation de Sass)
dist/
build/

# Fichiers de configuration locaux
*.env
*.local

# Fichiers de sauvegarde
*.bak
*.swp

# Ignorer un fichier JavaScript spécifique
server.js

#Dossier Serveur
config/
controllers/
models/
routes/
views/

# Ignorer un fichier SQL spécifique
BDD.sql
