
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Employé</title>
    <link rel="stylesheet" href="Style/accueil.css">
</head>

<%- include("partials/header.ejs") %>

    <h1>Bienvenue Employé</h1>
    <a href="/deconnexion">Déconnexion</a>

    <%- include("partials/footer.ejs") %>