<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil</title>
    <link rel="stylesheet" href="Style/accueil.css">

    <%- include("partials/header.ejs") %>


Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum nisi soluta magnam, blanditiis ipsam mollitia ratione assumenda odit praesentium vitae recusandae labore quibusdam sint officia voluptatem eius voluptatibus totam beatae.

<%- include("partials/footer.ejs") %>